@charset "UTF-8";

body {
    background-image: linear-gradient(to bottom, #f5abf5, #FFFFFF);
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

h1#principal {

    color: black;
    text-align: center;

}

h1.secundarios {

    color: brown;
    
}

.niveis {
    color: rgb(30, 68, 117);
}

h1 {
    color: rgb(139, 148, 14);
    
}

h2 {
    color: rgb(8, 112, 8);
}

